name: wns_flutter_example
description: "Demonstrates how to use the wns_flutter plugin."

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  wns_flutter:
    path: ../

  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
