name: wns_flutter
description: A Flutter plugin for Windows Notification Service (WNS), supporting toast notifications and raw push notifications.
version: 0.0.1
repository: https://github.com/fapirus/wns_flutter

environment:
  sdk: ^3.10.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      windows:
        pluginClass: WnsFlutterPluginCApi
